{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
<style>
    .link-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 50px;
    }
</style>

<div class="link-container">
<h1>Welcome to my first Symfony App</h1>

    <a href="{{ path('app_users') }}" class="nav-link">View Users</a>
    <a href="{{ path('app_products') }}" class="nav-link">View Products</a>
</div>
{% endblock %}
